
@import url(../fonts/inter/inter.css);


.page {
font-family: 'Inter', Arial, sans-serif;
max-width: 1280px;
background-color: #2A2C2F;
margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.header {
height: 52px;
width: 1184px;
padding-top: 28px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 auto;



}
.header__logo {

  height: 52px;
  width: 176px;


  color: #FFFFFF;
}
.lang-links {

  text-align: right;
  display: flex;
  flex-direction: row;
}
.lang-link {
width: 30px;
height: 28px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
padding-top: 18px;
color: #FFFFFF;
}
.lang-link:last-child {
  padding-left: 18px;
  text-decoration: none;

}

.lead {
height: 1005px;
width: 984px;
padding-top: 56px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;


}
.lead__title {

height: 200px;
max-width: ;width: 720px;
margin: 0;
padding-left: 132px;
padding-right: 132px;
color: #FFFFFF;
font-family: Inter;
font-size: 96px;
font-weight: 900;
line-height: 100px;
letter-spacing: 0em;
text-align: center;
justify-content: center;


}
.lead__subtitle {
height: 72px;
max-width: 640px;
padding-top: 32px;
text-align: center;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
font-size: 30px;
font-weight: 400;
line-height: 36px;
justify-content: center;

}
.lead__image {
padding-top: 64px;
height: 615px;
max-width: 984px;
}
.lead__caption {
padding-top: 8px;
height: 14px;
width: 158px;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: 1.5px;
align-self: start;
color: #FFFFFF;

}
.intro {
padding-top: 114px;
height: 429px;
width: 690px;
padding-left: 148px;
text-align: start;

}

.section__title {
height: 58px;
width: 690px;
font-family: Inter;
font-size: 54px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;

}

.section__main-text {
margin: 0;
padding-top: 40px;
height: 208px;
width: 690px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
}
 .section__list {
padding-top: 33px;
padding-left: 0;
height: 90px;
width: 690px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: start;
color: #FFFFFF;
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
}
.photo-grid {
padding-top: 92px;
margin: 0 auto;
height: 671px;
width: 1184px;

}
.grid__image {
height: 213px;
width: 284px;

}
.grid-images {
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px  213px;
  grid-gap: 16px;
  grid-auto-flow: row;

}
.places {
  padding-top: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
max-width: 984px;
}

.place {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
padding-top: 80px;
}

.place__title {

width: 460px;
font-size: 72px;
font-weight: 900;
line-height: 76px;
text-align: left;
align-self: flex-end;
margin: 0;
padding-bottom: 0;
color: #FFFFFF;

}
.place__website {
max-height: 152px;
width: 456px;
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: end;
color: #FFFFFF;
}
.place__image {
height: 460px;
width: 460px;
padding-top: 48px;

}
.place__main-text {
display: flex;
flex-direction: column;
justify-content: flex-start;
padding-left: 40px;
max-width: 484px;
margin: 0;
}

.two-columns {
padding-top: 48px ;
}
.two-columns__paragraph {
padding-bottom: 26px;
width: 484px;
font-size: 18px;
font-weight: 400;
line-height: 29px;
text-align: left;
margin: 0;
color: #FFFFFF;

}
.two-columns__paragraph:last-child {
  padding-bottom: 0;
}
.url-heading {
height: 12px;
width: 456px;
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 2px;
text-align: left;
margin: 0;
padding-bottom: 12px;
color: #FFFFFF;


}
.place__link {
height: 22px;
max-width: 456px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #FFFFFF;
text-decoration: underline;

}
.cover {
background-image: url(../images/cover__background\ .png);
background-repeat: no-repeat;
background-size: cover;
 max-width: 1184px;
 min-height: 740px;
 margin: 92px auto;
 display: flex;
 flex-direction: column;
align-items: center;
justify-content: center;
z-index: 0;
position: relative;
}
.cover__text {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;

}
.overlay {
height: 740px;
max-width: 1184px;
margin: 92px auto;
z-index: 1;
margin: 0;
opacity: 0.3;
}



.overlay:hover {
opacity: 0.8;
 }

.cover__title {
height: 152px;
max-width: 560px;
font-size: 72px;
font-weight: 900;
line-height: 76px;
text-align: center;
top: 245px;
margin: 0;
z-index: 2;
color: #FFFFFF;

}
.cover__subtitle {
height: 66px;
max-width: 360px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;
padding-top: 32px;
color: #FFFFFF;
margin: 0;
z-index: 2;

}
.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 48px;
padding-right: 48px;
padding-top: 92px;
padding-bottom: 24px;

}
.footer__links {
display: flex;
flex-direction: row;
list-style-type: none;
padding-left: 0;
margin: 0;
color: #FFFFFF;
gap: 18px;

}
.footer__link {
  height: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}



.footer__copiright {
  height: 16px;
  width: 186px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  margin: 0;
  color: #FFFFFF;
}

.link {
  color: #FFFFFF;
}
.link:hover {
  opacity: 0.3;
}
