
@import url(../fonts/inter/inter.css);


.page {
font-family: 'Inter', Arial, Helvetica, sans-serif;
max-width: 1280px;
box-sizing: content-box;
background-color: #2A2C2F;
margin: 0 auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
.page {
  min-width: 1024px;

  }
}
@media screen and (max-width: 768px) {
  .page {
    min-width: 768px;
    padding: 16px 16px 24px 16px;
  }
}
  @media screen and (max-width: 320px) {
    .page {
      max-width: 320px;
    }
}


.header {
max-height: 52px;
max-width: 1184px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 auto;
padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    max-height: 52px;
    }
  }
  @media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
      max-height: 52px;
    }
  }
    @media screen and (max-width: 320px) {
      .header {
        max-width: 288px;
        max-height: 42px;
        padding-top: 16px;

      }
  }



.header__logo {
  height: 100%;
  width: 14.86%;
  color: #FFFFFF;
}




.lang-links {
  text-align: right;
  display: flex;
  flex-direction: row;
  gap: 18px;
}


.lang-link {
width: 30px;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
padding-top: 18px;
color: #FFFFFF;
}

    @media screen and (max-width: 320px) {
    .lang-link {
    width: 22px;
    font-size: 18px;
    line-height: 20px;

      }
  }


.lang-link:last-child {
  text-decoration: none;

}

.lead {
max-height: 1005px;
max-width: 984px;
padding-top: 56px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;


}
@media screen and (max-width: 1024px) {
  .lead {
    max-height: 928px;
    max-width: 962px;
    }
  }
  @media screen and (max-width: 768px) {
    .lead {
      max-height: 768px;
      max-width: 862px;
    }
  }
    @media screen and (max-width: 320px) {
      .lead {

        max-height: 320px;
        max-width: 406px;
      }
  }



.lead__title {
max-width: 720px;
margin: 0;
color: #FFFFFF;
font-size: 96px;
font-weight: 900;
line-height: 100px;
text-align: center;
align-self: center;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 720px;
    }
  }
  @media screen and (max-width: 768px) {
    .lead__title {
     max-width: 720px
    }
  }
    @media screen and (max-width: 320px) {
      .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
      }
  }



.lead__subtitle {
max-width: 640px;
padding-top: 32px;
text-align: center;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
font-size: 30px;
font-weight: 400;
line-height: 36px;
justify-content: center;

}

@media screen and (max-width: 320px) {
.lead__subtitle {
  width: 288px;
  font-size: 16px;
  line-height: 20px;

      }
  }
.lead__image {
padding-top: 64px;
height: 61.2%;
width: 100%;
}


.lead__caption {
padding-top: 8px;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: 1.5px;
align-self: start;
color: #FFFFFF;

}


.intro {

max-height: 429px;
max-width: 690px;
padding-left: 148px;
text-align: start;


}
@media screen and (max-width: 1024px) {
  .intro {
   padding-left: 48px;
    }
  }
  @media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
padding-left: 24px;
padding-right: 24px;
padding-top: 110px;
    }
  }
    @media screen and (max-width: 320px) {
      .intro {
       min-width: 280px;

        padding-left: 16px;
        padding-right: 16px;
        padding-top: 64px;


      }
  }



.section__title {
width: 100%;
font-family: Inter;
font-size: 54px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
padding-top: 114px;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .section__title {
      padding-top: 110px;

    }
  }
    @media screen and (min-width: 320px) {
      .section__title {

      font-size: 32px;
      line-height: 35px;
      padding-top: 64px;


      }
  }

.section__main-text {
margin: 0;
padding-top: 40px;
height: 48.5%;
width: 100%;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color:#FFFFFF;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .section__main-text {
        line-height: 163%;



      }
  }



 .section__list {
padding-top: 33px;
padding-left: 0;
height: 21%;
width: 100%;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: start;
color: #FFFFFF;
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
}



.photo-grid {
padding-top: 92px;
margin: 0 auto;
max-height: 671px;
max-width: 1184px;

}
@media screen and (min-width: 1024px) {
  .photo-grid {

    }
  }
  @media screen and (min-width: 768px) {
    .photo-grid {

    }
  }
    @media screen and (min-width: 320px) {
      .photo-grid {
       max-width: 288px;



      }
  }


.grid__image {
height: 213px;
width: 284px;

}
@media screen and (min-width: 1024px) {
  .grid-image {
 width: 300px;
 height: 225px;
    }
  }
  @media screen and (min-width: 768px) {
    .grid-image {
      width: 352px;
      height: 264px;
    }
  }
    @media screen and (min-width: 320px) {
      .grid-image {
        width: 288px;
        height: 216px;

      }
    }

.grid-images {
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  grid-template-rows: 213px 213px  213px;
  grid-gap: 16px;
  grid-auto-flow: row;

}
@media screen and (min-width: 1024px) {
  .grid-images {
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: 225px 225px  225px 225px;
    grid-gap: 16px;
    grid-auto-flow: row;
    }
  }
  @media screen and (min-width: 768px) {
    .grid-images {
      grid-template-columns: 352px 352px;
      grid-template-rows: 264px 264px 264px 264px 264px 264px;
      grid-gap: 16px;
      grid-auto-flow: row;
    }
  }
    @media screen and (min-width: 320px) {
      .grid-images {
       max-width: 288px;
       grid-template-columns: 288px;
       grid-template-rows: repeat(12 216px);
       grid-gap: 16px;
       grid-auto-flow: column;


      }
  }


.places {
  padding-top: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
max-width: 984px;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }


.place {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
padding-top: 80px;
}



.place__title {
width: 46.75%;
font-size: 72px;
font-weight: 900;
line-height: 76px;
text-align: left;
align-self: flex-end;
margin: 0;
padding-bottom: 0;
color: #FFFFFF;

}



.place__website {
max-height: 152px;
width: 46.34%;
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: end;
color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }


.place__image {
height: 460px;
width: 460px;
padding-top: 48px;

}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }




.two-columns {
padding-top: 48px ;
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 26px;
padding-left: 40px;
max-width: 484px;
margin: 0;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }



.two-columns__paragraph {
width: 484px;
font-size: 18px;
font-weight: 400;
line-height: 29px;
text-align: left;
margin: 0;
color: #FFFFFF;

}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }


.url-heading {
width: 46.34%;
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 2px;
text-align: left;
margin: 0;
padding-bottom: 12px;
color: #FFFFFF;
}




.place__link {
width: 46.34%;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #FFFFFF;
text-decoration: underline;
}



.cover {
padding-top: 92px;
padding-bottom: 92px;
max-width: 1184px;
max-height: 740px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 0;
position: relative;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }



.cover__text {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;

}

.overlay {
background-image: url(../images/cover__background\ .png);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
margin: 0 auto;
z-index: 1;
margin: 0;
opacity: 0.8;
}
.overlay:hover {
opacity: 0.3;
 }



.cover__title {
max-width: 560px;
font-size: 72px;
font-weight: 900;
line-height: 76px;
text-align: center;
top: 245px;
margin: 0;
z-index: 2;
color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }



.cover__subtitle {
max-width: 360px;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;
padding-top: 32px;
color: #FFFFFF;
margin: 0;
z-index: 2;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }



.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 48px;
padding-right: 48px;
padding-bottom: 24px;


}



.footer__links {
display: flex;
flex-direction: row;
list-style-type: none;
padding-left: 0;
margin: 0;
color: #FFFFFF;
gap: 18px;

}



.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}



.footer__copiright {

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  margin: 0;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .header {

    }
  }
  @media screen and (min-width: 768px) {
    .header {

    }
  }
    @media screen and (min-width: 320px) {
      .header {


      }
  }

.link {
  color: #FFFFFF;
}
.link:hover {
  opacity: 0.3;
}
