.cover__overlay {
  background-image: url(../../../images/cover__background\ .png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  margin: 0;
  opacity: 0.8;
}
.cover__overlay:hover {
  opacity: 0.3;
}
