.place__website {
  max-height: 152px;
  max-width: 456px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
.place__website {
  padding-left: 32px;
  }
}
@media screen and (max-width: 768px) {
.place__website {
  max-width: 352px;
  padding-left: 28px;
  }
}
@media screen and (max-width: 320px) {
.place__website {
  max-width: 320px;
  padding-top: 32px;
  padding-left: 16px;

  }
}
